<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:reg="http://www.dangdang.com/schema/ddframe/reg"
       xmlns:job="http://www.dangdang.com/schema/ddframe/job"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.dangdang.com/schema/ddframe/reg
                        http://www.dangdang.com/schema/ddframe/reg/reg.xsd
                        http://www.dangdang.com/schema/ddframe/job
                        http://www.dangdang.com/schema/ddframe/job/job.xsd
                        ">
    <!--配置作业注册中心 -->
    <reg:zookeeper id="regCenter" server-lists="192.168.43.8:2181" namespace="dd-job"
                   base-sleep-time-milliseconds="1000" max-sleep-time-milliseconds="3000" max-retries="3" />

    <!-- 配置作业 每 10s 执行一次-->
    <!--<job:simple id="demoSimpleSpringJob" class="com.xjf.demo.job.MySimpleJob" registry-center-ref="regCenter"
                cron="0/10 * * * * ?" sharding-total-count="1" sharding-item-parameters="" />-->

    <!--数据流任务: streaming-process 参数配置是否开启流式作业-->
    <!--<job:dataflow registry-center-ref="regCenter" cron="0/10 * * * * ?" sharding-total-count="1" class="com.xjf.demo.job.MyDataFlowJob"
                  id="demoDataFlowJob" sharding-item-parameters="" description="我的第一个数据流作业" streaming-process="false"/>-->

    <!--脚本作业，路径使用绝对路径-->
    <!--<job:script registry-center-ref="regCenter" cron="0/10 * * * * ?" sharding-total-count="1" id="demoScriptJob"
                script-command-line="G:\GitWareHouse\SpringCloud\elastic-job-demo\demo.sh" description="我的第一个脚本作业" />-->

    <!--Dbcp 数据库连接池配置-->
    <bean id="elasticJobLog" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/batch_log?useSSL=true" />
        <property name="username" value="root" />
        <property name="password" value="123456" />
    </bean>

    <!--分片处理任务: overwirte 参数：需要覆盖注册中心的配置信息。     failover：是否开启失效转移-->
    <!--event-trace-rdb-data-source : 配置时间追踪使用的数据库-->
    <job:simple id="demoShardJob" registry-center-ref="regCenter" cron="0 14 11 * * ? *" sharding-total-count="2"
                sharding-item-parameters="0=0, 1=1" class="com.xjf.demo.job.MySimpleJob" description="分片任务"
                overwrite="true" failover="true" event-trace-rdb-data-source="elasticJobLog"/>
</beans>